.output-container {
  background-color: lightblue;
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 2rem;
}

ul {
  padding-left: 1rem;
  margin: auto;  
  list-style-type: none;
  width: 80%;
  li {
    display: flex;
    gap: 2rem;
    height: 3rem;
    align-items: center;
    span {
      flex-basis: 30%;
      margin-left: 1rem;
    }
    div {
      flex-basis: 5%;
      .input-prio {
        width: 100%;
      }
    }
    button {
     flex-basis: 10%;
    }
  }
.isDone {
  background-color: green;
}
.isOpen {
  background-color: orange;
}

}