<div class="output-container">
  <h2>open ToDos 😢</h2>

  <ul>
    <li
      *ngFor="let item of itemsS.itemsArray; let i = index"
      [class.isDone]="item.done"
      [class.isOpen]="!item.done"
    >
      <span *ngIf="!item.edit"> {{ item.description }} </span>

      <input
        *ngIf="item.edit"
        name="editDesc"
        type="text"
        [(ngModel)]="item.description"
      />

      
      <button (click)="item.edit = !item.edit">
        {{ item.edit ? "save" : "edit" }}</button>
      <button (click)="changeStatus(item)">
        {{ item.done ? "finished" : "unfinished" }}
      </button>
      <button (click)="deleteItem(item)">delete</button>
        <div>
          <input
            class="input-prio"
            *ngIf="!item.done"
            name="countPrio"
            type="number"
            [(ngModel)]="item.prio"
            #countPrioTemplate="ngModel"
          />
        </div>
        <p>{{ item.issued | date:'medium'}}</p>
      </li>
  </ul>
</div>
