<div class="header">
  <h1>My To Do List</h1>
</div>

<div class="input-container">
  
  <h2>Enter new todos: </h2>
  <form>
    <div class="form-group form-newTodo">
    <input
    name="newTodo"
    class="form-control"
      [(ngModel)]="newTodoName"
      #newTodo="ngModel" 
      (change)="log(newTodo)"
      />  
      <!-- // #TemplateVariable nur in html, newTodoName auch in TS -->
      
      <button class="btn btn-primary" (click)="addItem(newTodo.value)">
        Submit
      </button>
    </div>
  </form>
  
</div>